<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="col-xs-12">
        <div class="col-xs-6">
            <div class="row">
                <li style="font-size: larger; font-weight: 700;"><a href="/logout">Logout</a></li> 
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-6">
            <div class="row">
                <h1 style="color: blueviolet;">This is secrect page</h1>  
            </div>
        </div>
    </div>
</div>
</body>
</html>
